<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Entra21.CSharp.ClinicaVeterinaria.Aplicacao</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
    @* <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet"/> *@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/Entra21.CSharp.ClinicaVeterinaria.Aplicacao.styles.css" asp-append-version="true"/>
</head>
<body>
@{
    var controller = Context.GetRouteData().Values["controller"]?.ToString();
}

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" href="#">
                            <i class="fa-solid fa-house"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(controller == "Pet" ? "active" : "text-white")" asp-controller="Pet" asp-action="Index">
                            <i class="fa-solid fa-paw"></i>
                            Pets
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(controller == "Raca" ? "active" : "text-white")" asp-controller="Raca" asp-action="Index">
                            <span data-feather="file"></span>
                            Raças
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(controller == "Responsavel" ? "active" : "text-white")" asp-controller="Responsavel" asp-action="Index">
                            <i class="fa-solid fa-user"></i>
                            Responsáveis
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(controller == "Veterinario" ? "active" : "text-white")" asp-controller="Veterinario" asp-action="Index">
                            <i class="fa-solid fa-user-doctor"></i>
                            Veterinarios
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-2">
            @RenderBody()
        </main>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://kit.fontawesome.com/ee7b96a9e8.js" crossorigin="anonymous"></script>
<script src="~/js/toastr-configure.js" asp-append-version="true"></script>
<script src="~/js/shared/notification-error.js" asp-append-version="true"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://unpkg.com/vanilla-masker@1.1.1/build/vanilla-masker.min.js" type="text/javascript"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>