@*@using Entra21.CSharp.ClinicaVeterinaria.Repositorio.Entidades
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";

    var raca = ViewBag.Raca as Raca;

    var especies = ViewBag.Especies as List<string>;
}

<h2>Editar de Raça</h2>

<form action="/raca/editar" method="POST">
    <input type="hidden" name="id" value="@raca.Id" />
    <div>
        <label for="campo_nome" class="form-label">
            Nome <span class="text-danger" fw-bold>*</span>
        </label>
        <input type="text" id="campo_nome" name="nome" class="form-control" required="required" value="@raca.Nome" />
    </div>

    <div class="mb-3">
        <label for="campo_especie" class="form-label">
            Espécie <span class="text-danger" fw-bold>*</span>
        </label>
        <select id="campo_especie" name="especie" class="form-select" required="required">
            @foreach (var especie in especies)
            {
                <option value="@especie"
                    @(especie == raca.Especie ? "selected" : "")>@especie</option>

            }
        </select>
    </div>

    <div class="text-end">
        <a href="/raca" class="btn btn-outline-danger">Cancelar</a>
        <button type="submit" class="btn btn-success">Salvar</button>
    </div>
</form>*@